.form {
  display: flex;
  flex-direction: column;

  width: 50%;
  min-height: 300px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(218, 225, 245);

  border-radius: 4px;
  -webkit-box-shadow: 5px 4px 17px 0px rgba(87, 126, 156, 0.31);
  -moz-box-shadow: 5px 4px 17px 0px rgba(87, 126, 156, 0.31);
  box-shadow: 5px 4px 17px 0px rgba(87, 126, 156, 0.31);
}

.data {
  display: flex;
  flex-direction: column;
  padding: 25px;

  flex-grow: 1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.label:not(:last-child) {
  margin-bottom: 10px;
}

.labelName {
  width: 80px;
  font-size: 18px;
  font-weight: 600;
  margin-right: 10px;
}

.input {
  padding: 5px;
  flex-grow: 1;
  border: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 5px 4px 17px 0px rgba(87, 126, 156, 0.31);
  -moz-box-shadow: 5px 4px 17px 0px rgba(87, 126, 156, 0.31);
  box-shadow: 5px 4px 17px 0px rgba(87, 126, 156, 0.31);
}
.date {
  width: 200px;
  flex-grow: 0;
  border-radius: 2px;
}

.button {
  width: 200px;
  padding: 10px;
  border: transparent;
  border-radius: 4px;
  background-color: rgba(87, 126, 156, 0.2);
  color: rgb(47, 70, 87);
  -webkit-box-shadow: 5px 4px 11px 1px rgba(64, 90, 111, 0.39);
  -moz-box-shadow: 5px 4px 11px 1px rgba(64, 90, 111, 0.39);
  box-shadow: 5px 4px 11px 1px rgba(64, 90, 111, 0.39);
}

.button:not(:last-child) {
  margin-right: 10px;
}

.button:hover,
.button:focus {
  font-weight: bold;
}
