.row {
display: flex;
background-color: rgb(237, 243, 250);
margin-bottom: 5px;
}

.row__elem {
    width: 200px;
    padding: 5px;
    margin-right: 10px;


}

.row__elem__wide {
    width: 300px;
}
