.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(111, 118, 124);

  color: #fff;
}

.line {
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: rgb(218, 225, 245);
}

.line:first-child {
  margin-top: 10px;
}
.line:not(:last-child) {
  margin-bottom: 10px;
}

.item {
  padding: 5px;
  margin-right: 5px;
  text-align: start;
  width: 100px;
}

.item:first-child {
  text-align: center;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  background-color: rgb(111, 118, 124);

  border-radius: 50%;
}

.item-text {
  display: block;
  overflow-wrap: break-word;
}

i {
  color: #fff;
}

.small {
  composes: item;
  width: 60px;
}

.middle {
  composes: item;
  width: 150px;
}

.large {
  composes: item;
  width: 200px;
}
.grow {
  flex-grow: 1;
}

.button-link.disabled {
  pointer-events: none;
  color: gray;
}

.button-link {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  border: none;
  background-color: inherit;
  color: black;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}
